body{
    background: #b7b9ba;
    margin: 0;
    min-width: 850px;
}
.statusBox{
    background: #ebebeb;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 5px;
    box-shadow: 0 0 15px gray;
    padding: 5px;
}
.statusBoxInfo{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}
img{
    height: 3em;
    padding-left: 1em;
}
.banner{
    width: 100%;
    background: #ebebeb;
    box-shadow: 0 0 15px gray;
    padding-top: -50px;


}

.masterWrapper{
    position: absolute;
    width: 100%;

}

.searcher{
    text-align: center;
    margin-top: 3em;
    position: relative;
    width: 100%;

}


.search {
    width: 100%;
    position: relative;
    display: flex;
    padding-left: 2em;
    margin-top: 2em;


}

.searchTerm {
    width: 100%;
    border: 3px solid #0075cc;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #0075cc;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #0075cc;
    background: #0075cc;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    min-width: 30%;
 /*   position: absolute;   */
    top: 50%;
    max-width: 30%;
    display: inline-block;
    margin-right: 5em;



}

.clearer {
    margin-left: 2em;
    padding: 5px 5px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ebebeb;
    background-color: darkred;
    border: none;
    border-radius: 15px;
}

.clearer:hover {
    background-color: #444
}

.clearer:active {
    transform: translateY(2px);
}


h3, h2{
    text-align: center;
}

.sidepanel  {
    width: 0;
    position: absolute;
    z-index: 1;
    height: 246px;
    top: -4px;
    left: 0;
    background-color: darkred;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 3.5em;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: darkred;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

