body{
    background: #b7b9ba;
    margin: 0;
    min-width: 850px;
}
.statusBox{
    background: #ebebeb;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 5px;
    box-shadow: 0 0 15px gray;
    padding: 5px;
}
.statusBoxInfo{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}
img{
    height: 3em;
    padding-left: 1em;
}
.banner{
    width: 100%;
    background: #ebebeb;
    box-shadow: 0 0 15px gray;


}

.masterWrapper{
    position: absolute;
    width: 100%;

}

.searcher{
    text-align: center;
    margin-top: 3em;
    position: relative;
    width: 100%;

}


.search {
    width: 100%;
    position: relative;
    display: flex;
    padding-left: 2em;
    margin-top: 2em;


}

.searchTerm {
    width: 100%;
    border: 3px solid #0075cc;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #0075cc;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #0075cc;
    background: #0075cc;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    min-width: 30%;
    position: absolute;
    top: 50%;
    max-width: 30%;
    display: inline-block;



}

.clearer {
    margin-left: 2em;
    padding: 5px 5px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ebebeb;
    background-color: #1277c9;
    border: none;
    border-radius: 15px;
}

.clearer:hover {
    background-color: #1277c9
}

.clearer:active {
    background-color: #1277c9;
    transform: translateY(2px);
}


h3, h2{
    text-align: center;
}

